<div class="new-films-container">
    <div class="new-label">НОВИНКИ</div>
    <div class="carousel-wrapper">
        <div class="carousel-arrow left-arrow">
            <div class="arrow-circle"
                (click)="onClickPrev()">
                <svg width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none">
                    <path d="M15 18L9 12L15 6"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <section class="cute-vertical-movies">
            <div class="vertical-grid">
                <div class="loading-container"
                    *ngIf="loading">
                    <div *ngFor="let i of [1,2,3,4]"
                        class="movie-card-vertical empty">
                        <div class="poster-wrapper">
                            <div class="empty-poster"></div>
                        </div>
                        <div class="movie-info">
                            <div class="empty-year"></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!loading"
                    class="content-container">
                    <div *ngFor="let movie of movies"
                        class="movie-card-vertical">
                        <div class="poster-wrapper"
                            (click)="onClickPage(movie)">
                            <img [src]="getPosterUrl(movie.poster)"
                                class="poster-image">
                            <div class="movie-rating">{{ movie.rating }}</div>
                        </div>
                        <div class="movie-info">
                            <p class="movie-year">{{ movie.year }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="carousel-arrow right-arrow">
            <div class="arrow-circle"
                (click)="onClickNext()">
                <svg width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none">
                    <path d="M9 18L15 12L9 6"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
</div>