<div class="filters-container">
    <div class="filters-main-card">
        <div class="filters-content">
            <div class="filter-column">
                <div class="filter-section">
                    <legend class="filter-legend">Тип:</legend>
                    <div class="radio-group">
                        <label class="radio-label">
                            <input type="radio"
                                name="type"
                                value="film"
                                [(ngModel)]="selectedType"
                                class="radio-input">
                            <span class="radio-custom"></span>
                            <span class="radio-text">Фильмы</span>
                        </label>
                        <label class="radio-label">
                            <input type="radio"
                                name="type"
                                value="serie"
                                [(ngModel)]="selectedType"
                                class="radio-input">
                            <span class="radio-custom"></span>
                            <span class="radio-text">Сериалы</span>
                        </label>
                        <label class="radio-label">
                            <input type="radio"
                                name="type"
                                value="anime"
                                [(ngModel)]="selectedType"
                                class="radio-input">
                            <span class="radio-custom"></span>
                            <span class="radio-text">Аниме</span>
                        </label>
                        <label class="radio-label">
                            <input type="radio"
                                name="type"
                                value="dorama"
                                [(ngModel)]="selectedType"
                                class="radio-input">
                            <span class="radio-custom"></span>
                            <span class="radio-text">Дорамы</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="filter-column">
                <div class="selects-section">
                    <div class="select-group">
                        <label class="select-label">Жанры:</label>
                        <select class="cute-select"
                            [(ngModel)]="selectedGenre">
                            <option value="">Все жанры</option>
                            <option [value]="genre"
                                *ngFor="let genre of filter?.genres?.sort()">{{genre}}</option>
                        </select>
                    </div>

                    <div class="select-group">
                        <label class="select-label">Годы:</label>
                        <select class="cute-select"
                            [(ngModel)]="selectedYear">
                            <option value="">Все годы</option>
                            <option [value]="year"
                                *ngFor="let year of filter?.years?.sort()">{{year}}</option>
                        </select>
                    </div>

                    <div class="select-group">
                        <label class="select-label">Страны</label>
                        <select class="cute-select"
                            [(ngModel)]="selectedCountry">
                            <option value="">Все страны:</option>
                            <option [value]="country"
                                *ngFor="let country of filter?.countries?.sort()">{{country}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-actions">
            <button class="btn-apply"
                (click)="onApply()">Применить</button>
            <button class="btn-reset"
                (click)="onReset()">Сбросить</button>
        </div>

        <div class="search-results"
            *ngIf="foundedContent.length > 0">
            <h3 class="results-title">Найдено:</h3>
            <div class="vertical-grid">
                <div class="movie-card-vertical"
                    *ngFor="let film of foundedContent">
                    <div class="poster-wrapper">
                        <img [src]="getPosterUrlFilm(film.poster)"
                            class="poster-image"
                            (click)="onClickPage(film)">
                        <div class="movie-rating">{{ film.rating }}</div>
                    </div>
                    <div class="movie-info">
                        <h3 class="movie-title">{{ film.title }}</h3>
                        <p class="movie-year">{{ film.year }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="hasSearched && foundedContent.length === 0"
            class="no-results-minimal">
            <div class="no-results-minimal-content">
                <h3 class="no-results-minimal-title">Ничего не найдено</h3>
                <p class="no-results-minimal-subtitle">Попробуйте другие параметры поиска</p>
            </div>
        </div>

    </div>
    <app-filter-pagination *ngIf="hasSearched && foundedContent.length > 0"
        [currentPage]="currentPage"
        [hasMoreContent]="hasMoreContent"
        (pageChanged)="onPageChanged($event)">
    </app-filter-pagination>
</div>